html, body {
	height: 100%;
}
body {
    margin: 0px;
	display: flex;

	#map {
		width: 70%;
	}
	#infos {
		width: calc( 30% - 40px );
		padding: 20px;

		select {
			width: 158px;
		}

		input[type=submit] {
			
		}
	}

	label {
		display: block;
		display: flex;
		justify-content: space-between;
		width: 250px;
		margin: 5px;
	}
}
